<!--
http://bootsnipp.com/snippets/featured/todo-example
-->

<!DOCTYPE html >
<html lang="en" ng-app="todoListApp">
<head>
    <meta charset="UTF-8">
    <title>Let's do it! </title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css">
</head>
<style>
    .edited label:after {
        content: " - Edited";
        background-color: yellow;
        color: red;
        font-weight: bold;
    }

</style>
<body>

<div class="container" ng-controller="todosCtrl">

    <h1>Let's do it! </h1>

    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" ng-model="new_todo" class="form-control" placeholder="Add a task...">
                <span class="input-group-btn">
        <button ng-click="createTodo(new_todo)" ng-class="{disabled:new_todo==null}" class="btn btn-success "
                type="button">Create!</button>
      </span>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="todolist">
                <h3>Incomplete</h3>

                <div class="alert alert-success" ng-show="!!!todos.length">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{randomQuote.msg}}</strong> you did all tasks :)
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="todo in todos track by $index">{{todo.title}}
                        <div class="btn-group" style="float: right;">
                            <a type="button" class="btn btn-xs btn-success"
                               ng-click="doneTodo($index,todo)">Done</a>
                            <a type="button" class="btn btn-xs btn-primary" ng-click="editing = !editing">Edit</a>
                            <a type="button" class="btn btn-xs btn-danger" ng-click="deleteTodo($index,todo.title)">Delete</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>


        <div class="col-md-6">
            <div class="todolist">
                <h3>Completed</h3>


                <div class="alert alert-danger" ng-show="!!!done_todos.length">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{randomDangerQuote.msg}}</strong> you have to work harder :(
                </div>



                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="done_todo in done_todos track by $index">{{done_todo.title}}

                        <button   title="Move to Incomplete" ng-click="moveToIncomplete($index,done_todo)" class="remove-item btn btn-default btn-xs pull-right"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </li>
                </ul>


            </div>
        </div>
    </div>


</div>
</body>

<script src="bower_components/angular/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
<script src="js/todosService.js"></script>
<script src="js/todosCtrl.js"></script>
</html>